/* html {
    background-image: url("mill2.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 100% auto;  
} */

/* html { 
  background: url("mill2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
} */

* {
    padding: 0;
    margin: 0;
}


.fit { /* set relative picture size */
    max-width: 95%; /* yesterday: 95% */
    max-height: 85%; /* yesterday: 85% */
}

.fit-vanes { /* set relative picture size */
    max-width: 50%; /* yesterday: 70% */
    max-height: 50%; /* yesterday: 70% */
}

.center {
    display: block;
    margin: auto;
}

/* img {
    position: absolute;
}   */

/* #devdatas {
    position: absolute;
    z-index: 5;
} */

 /* #mill {
    z-index: 1;
}

#vanes {
    z-index: 3;
} */