<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rehab Game: The Windmill</title>
        
        <!-- <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>  -->
        <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
        
        <script src="{{url_for('static', filename='responsive_images.js')}}" defer></script>
        <script src="{{url_for('static', filename='rotate.js')}}" defer></script>


        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
         <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

         <link rel="stylesheet" href="{{url_for('static', filename='windmill_style.css')}}">  
        <script>
            $(document).on("pagecreate", function(){
                var degree = 1;
                var speed = 1;
                $("img").on("touchmove",function(){
                    // $(this).hide();
                    $(this).css("transform", "rotate("+degree+"deg)");
                    degree = degree+speed;
                });                       
            });
        </script>
    </head>
    <body>
        <!-- <div data-role="page" id="pageone">
            <div data-role="header">
                <h1>The tap Event</h1>
            </div>

            <div data-role="main" class="ui-content">
                <p>If you tap me, I will disappear.</p>
                <p>Tap me away!</p>
                <p>Tap me too!</p>
            </div>

            <div data-role="footer">
                <h1>Footer Text</h1>
            </div>
        </div>    -->





        <!-- <img class="center fit" id="mill" src="static/mill2.png">    -->
         <img class="center fit-vanes" id="vanes" src="static/vanes3.png"> 
    </body>
</html>